@font-face {
    font-family: 'custom';
    src: url('../fonts/coda.ttf');
}

/* General Content
_______________________________________________*/

body {
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}

.section {
    padding-top: 2.5em;
}

.about_me {
    background-color: rgba(0, 0, 0, 0.5);
}

.am_title {
    color: white;
    font-size: 4em;
    font-family: "custom", cursive;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    padding-bottom: 1em;
}

.am_group {
    text-align: center;
}


.about_me hr {
    border-bottom: 1px #333 solid;
    width: 60%;
}

.section {
    text-align: center;
}

.section p {
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px black;
}

#websites {
    background-color: rgba(255,0,0,0.2);
}

#graphics {
    background-color: rgba(0,191,255,0.4);
}

#comics {
    background-color: rgba(255, 255, 255, 0.25);
}

#contact {
    background-color: rgb(60, 60, 60);
}


/* Nav
_______________________________________________*/

#my_navbar {
    background-color: rgba(145, 212, 235, 0.35);
    border-bottom: green 1px solid;
    text-align: left;
}

#my_navbar a {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#nav_toggle {
    border: #91D4EB 1px solid;
}

#nav_toggle span {
    background-color: #91D4EB;
}

#nav_toggle:hover {
    background-color: #91D4EB;
}

#nav_toggle:hover span {
    background-color: white;
}

#navbar-brand {
    font-weight: bold;
}

/* Header
_______________________________________________*/

.title {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.title_cont {
    vertical-align: middle;
    padding-top: 15em;
}

.title h1 {
    margin: 0;
    font-size: 6em;
    color: white;
    font-family: "custom", cursive;
    text-align: center;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

.title p {
    margin: 0;
    font-size: 3em;
    color: white;
    font-family: "custom", cursive;
    text-align: center;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

/* Images
_______________________________________________*/

.my_face {
    border-radius: 100%;
    border: 10px #57BFD4 solid;
    width: 25%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    margin-bottom: 2em;
}

a img {
    width: 100%;
    border-radius: .5em;
}

.portfolio p {
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0;
}

footer {
    color: white;
    background-color: #111;
    text-align: center;
    padding: 1em;
}

a.image-link {
    position: relative;
    width: 100%;
    text-decoration: none !important;
    text-align: center;

  }
  a.image-link:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: -2.5em;
    width: inherit;
    background: rgba(0,0,0,0.75);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.image-link:hover:after, a.image-link:focus:after {
    opacity: 1.0;
    margin-bottom: 3px;
  }

@media screen and (max-width: 1199px) {
    .my_face {
        width: 30%;
    }
}

@media screen and (max-width: 990px) {
    .my_face {
        border-radius: 100%;
        width: 35%;
    }

    .section p {
        color: white;
        padding-top: 3em;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-position: center;
    }
    .title_cont {
        vertical-align: middle;
        padding-top: 12em;
    }

    .title p {
        font-size: 2em;
    }
    .about_me p {
        text-align: center;
        margin-left: 4%;
        margin-right: 4%;
    }

    .my_face {
        min-width: 17em;
    }
}

@media screen and (max-width: 500px) {
    .title h1 {
        font-size: 4.25em;
    }

    .title p {
        font-size: 1.5em;
    }
}
